
{% extends 'quotation_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Confirm delete"%}{% endblock %}
    
{% block content %}

<h2>{% trans "Confirm delete"%}</h2>
<p>{% blocktrans with product_name=product.name %}Are2 you sure you want to delete "{{ product.name }}"?{% endblocktrans %}</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">{% trans "Yes, delete" %}</button>
    <a href="{% url 'seller_dashboard' %}">{% trans "Cancel'%}</a>
</form>


{% endblock %}