{% extends 'quotation_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Seller Dashboard" %}{% endblock %}
    
    {% block content %}

       <br>
       <a href="{% url 'seller_dashboard' %}" class="btn btn-secondary">{% trans "Dashboard" %}</a> &nbsp;
       <a href="{% url 'seller_quotations' %}" class="btn btn-primary">{% trans "Quotations" %}</a> &nbsp;
       <a href="{% url 'seller_clients' %}"class="btn btn-secondary">{% trans "Clients" %}</a> &nbsp;
       <a href="{% url 'update_seller' %}" class="btn btn-secondary">{% trans "Profile" %}</a>
       

<br><br>
<h2>{% trans "Your Client Quotations" %}</h2>
<p>{% trans "Total number of quotations: " %}<strong>{{ total_quotes }}</strong></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>{% trans "Client" %}</th>
      <!-- <th>Product</th> -->
      <th>{% trans "Amount" %}</th>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Quote" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for q in quotations %}
    <tr>
      <td>{{ q.client.name }}</td>
      <!-- <td>{{ q.products }}</td> -->
      <td>${{ q.total_amount }}</td>
      <td>{{ q.date_created|date:"Y-m-d" }}</td>
      <td><a href="{% url 'generate_pdf' slug=slug quotation_id=q.id %}" class="btn btn-light">
      {% trans "Quote" %} #{{ q.id }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">{% trans "No quotations found." %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

       <!-- Add Product Form -->

{% endblock %}