{% extends 'quotation_app/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Update Seller Information" %}{% endblock %}
    
{% block content %}
{% load widget_tweaks %}


 <br>
       <a href="{% url 'seller_dashboard' %}" class="btn btn-secondary">{% trans "Dashboard" %}</a> &nbsp;
       <a href="{% url 'seller_quotations' %}" class="btn btn-secondary">{% trans "Quotations" %}</a> &nbsp;
       <a href="{% url 'update_seller' %}" class="btn btn-primary">{% trans "Profile" %}</a>

<br><br>
<title>{% trans "Update Seller Information" %}</title>
</head>
<body>
 <h1>{% trans "Update Your Information" %}</h1>
<!--  <form method="post" enctype="multipart/form-data">
 {% csrf_token %}
 {{ form.as_p }}
 <button type="submit">Update</button> -->
 

{% load widget_tweaks %}


{% if messages %}
     {% for message in messages %}
     <div class="alert alert-success" role="alert">
     {{ message }}
     </div>
  {% endfor %}
{% endif %}

<script>
  setTimeout(function() {
   const alert = document.querySelector('.alert');
   if (alert) {
     alert.style.transition = 'opacity 0.5s ease-out';
     alert.style.opacity = '0';
     setTimeout(() => alert.remove(), 500);
   }
 }, 3000); // 3 seconds
</script>


{% if seller.profile_picture %}
  <div class="mb-3">
   <img src="{{ seller.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
  </div>
{% else %}
  <p>{% trans "No profile picture uploaded." %}</p>
{% endif %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email|add_class:"form-control"|attr:"placeholder:Enter your email" }}
    </div>

    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">{% trans "Name" %}</label>
        {{ form.name|add_class:"form-control"|attr:"placeholder:Enter your name" }}
    </div>

    <div class="form-group">
        <label for="{{ form.phone_number.id_for_label }}">{% trans "Phone Number" %}</label>
        {{ form.phone_number|add_class:"form-control"|attr:"placeholder:Enter your phone number" }}
    </div>

    <div class="form-group">
        <label for="{{ form.address.id_for_label }}">{% trans "Address" %}</label>
        {{ form.address|add_class:"form-control"|attr:"placeholder:Enter your address" }}
    </div>

<div><br></div>
        <div class="form-group">
        <label for="{{ form.profile_picture.id_for_label }}">{% trans "Upload Profile Picture" %}</label>
        {{ form.profile_picture|add_class:"form-control-file" }}
        <br>
        <img id="profile-picture-preview" src="#" alt="Image Preview" style="display:none; max-height: 200px; margin-top: 10px;" />
    </div>
<div><br></div>
    <button type="submit" class="btn btn-success">{% trans "Update" %}</button>
</form>

<script>
document.getElementById('{{ form.profile_picture.id_for_label }}').addEventListener('change', function(event) {
    const [file] = event.target.files;
    const preview = document.getElementById('profile-picture-preview');
    if (file) {
        preview.src = URL.createObjectURL(file);
        preview.style.display = 'block';
    } else {
        preview.style.display = 'none';
    }
});
</script>


{% endblock %}