<!DOCTYPE html>
<html>
<head>
    <title>S3 Document Manager</title>
</head>
<body>
<h2>{{ document.title }} update 13:05</h2>
<p>Uploaded at: {{ document.uploaded_at }}</p>
<p> Document url : {{ document.upload.url }}</p>

<div style="border: 1px solid #000; margin-bottom: 20px;">
    {% if document.upload.url %}
        <iframe 
            src="https://mozilla.github.io/pdf.js/web/viewer.html?file={{ document.upload.url|urlencode }}" 
            width="100%" 
            height="600px" 
            style="border: none;">
        </iframe>

    {% else %}
        <p>No document file found.</p>
    {% endif %}
</div>

<p>
    <a href="{{ document.upload.url }}" download class="btn">Download Document</a>
</p>
<p>
    <a href="{% url 'document_list' %}">Back to List</a>
</p>
</body>
</html>