{% extends 'quotation_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Quotation Page per seller" %}{% endblock %}

{% block content %}
{% load widget_tweaks %}
{% load custom_filters %}

<h2>
  {% blocktrans with client_name=client.name %}
    Quotation for client: {{ client_name }}
  {% endblocktrans %}
</h2>

<h2>
  {% blocktrans with seller_name=seller.name %}
    Products from Seller: {{ seller_name }}
  {% endblocktrans %}
</h2>
    
 <form method="post" class="mt-4">
    {% csrf_token %}

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Quantity" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for field in form %}
        <tr>
            <td>
                {% with product=form.product_map|dict_get:field.name %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#productModal{{ product.id }}">
                        {{ field.label }}
                    </a>

                    <!-- Modal HTML -->
                    <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" aria-labelledby="productModalLabel{{ product.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="productModalLabel{{ product.id }}">{{ product.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>{% trans "Description:"%}</strong></p>
                                    <p>{{ product.description }}</p>
                                    <p><strong>{% trans "Price:" %}</strong> {{ currency_symbol }} {{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            </td>
            <td>{% render_field field class="form-control" %}</td>
        </tr>
      {% endfor %}
      </tbody>

    </table>

    <button type="submit" class="btn btn-success">{% trans "Generate Quotation" %}</button>
</form>

{% endblock %}