{% extends 'quotation_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Quotation Page per seller" %}{% endblock %}

{% block content %}
{% load widget_tweaks %}


<h2>
  {% blocktrans with client_name=client.name %}
    Quotation for client: {{ client_name }}
  {% endblocktrans %}
</h2>

<h2>
  {% blocktrans with seller_name=seller.name %}
    Products from Seller: {{ seller_name }}
  {% endblocktrans %}
</h2>
    
 <form method="post" class="mt-4">
    {% csrf_token %}

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Quantity" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{% render_field field class="form-control" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">{% trans "Generate Quotation" %}</button>
</form>

{% endblock %}