{% extends 'quotation_app/base_auth.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Reset you password" %}{% endblock %}

{% block content %}

    <h2>{% trans "Forgot your password?" %}</h2>

    <p style="text-align: left;">{% trans "Enter your email to receive a password reset link, and follow the instructions." %}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Send Reset Link" %}</button>
        </form>

    <br>
    <a href="{% url 'login' %}">{% trans "Login Again" %}</a>

{% endblock %}