{% extends 'quotation_app/base_auth.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}


{% block content %}
    <h2>Change Password</h2>
    <p>Use the form below to change your password.</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Django automatically renders form fields -->
        <button type="submit">Change Password</button>
    </form>

    <p><a href="{% url 'password_change_done' %}">Go to Success Page</a></p>
{% endblock %}