<!-- templates/registration/password_reset_done.html -->
{% extends 'quotation_app/base_auth.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Email Sent" %}{% endblock title %}

{% block content %}
<h1>{% trans "Check your inbox." %}</h1>
<p style="text-align: left;">{% trans "We've emailed you instructions for setting your password.You should receive the email shortly!" %}</p>

<p style="text-align: left;">{% trans "Didn't receive the email? Check your spam folder, or go back to " %}<a href="{% url 'login' %}">{% trans " Log In page" %}</a></p>

{% endblock content %}