
{% extends "architect_app/baseArchitect.html" %}
{% block title %}My Project form{% endblock %}

{% block content %}
{% load widget_tweaks %}

<h2>Edit Project: {{ project.name|default:"New Project" }}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-grid" style="display: grid; gap: 15px;">
        {{ form.as_p }}
    </div>

    <div class="actions mt-3">
        <button type="submit" class="block py-2.5 px-4 rounded hover:bg-gray-800 transition text-gray-400">Save Changes</button>
    </div>
    <div class="actions mt-3">
        <a href="{% url 'project_detail' project.pk %}" 
            class="block py-2.5 px-4 rounded hover:bg-gray-800 transition text-gray-400 text-center">
            Cancel
        </a>
    </div>
</form>

{% endblock %}